*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
}

#home{
    background-image: linear-gradient(rgba(196, 203, 234, 0.7),rgba(176, 189, 239, 0.7)),url(images/Desktop-Travel-Images.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
}

nav h1{
    font-weight: 500;
    cursor: pointer;
}

nav ul li{
    display: inline-block;
    
}

nav ul li a{
    text-decoration: none;
    color: #000;
    padding: 20px;
}

nav ul li a:hover{
    color: rgb(65, 155, 185);
}

#description{
    padding: 30px 80px;
}

#description h1{
    font-weight: 500;
    font-size: 70px;
    padding-top: 70px;
}

#description p{
    font-size: 18px;
    padding-top: 25px;
    text-align: justify;
}

#description button{
    background-color: rgb(65, 155, 185);
    color: white;
    width: 130px;
    height: 50px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid rgb(65, 155, 185);
    border-radius: 5px;
}

#description button:hover{
    background-color: aliceblue;
    color: #000;
}


.row img{
    width: 100%;
    transition: background 0.5s,transform 0.5s;
}

.places{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(330px,1fr));
    grid-gap: 30px;
}

#tourist{
    padding: 80px;
}

.heading{
    text-align: center;
    padding-top: 50px;
}

.heading h1{
    color: rgb(40, 148, 224);
}

.heading p{
    padding: 10px 0 25px 0;
    font-style: italic;
}

.layer{
    display: flex;
    align-items: center;
    padding: 15px 0 0 150px;
}

.layer h4{
    color: rgb(111, 186, 219);
    font-weight: 500;
    font-style: italic;
    margin-left: 10px;
}

.row img:hover{
    translate: 0 0 20px 0;
    box-shadow: 0 0 50px 0px rgba(0, 179, 255, 0.895);
    transform: translateY(-20px);
}



/* --------------------offers------------------- */

#offers{
    background-image: linear-gradient(rgba(35, 71, 103, 0.5),rgba(35, 71, 103, 0.5)),url(images/bg-2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
    margin-top: 80px;
    color: rgb(228, 232, 235);
    text-align: end;
}

.See{
    width: 130px;
    height: 40px;
    background: none;
    color: aliceblue;
    border: 2px solid aliceblue;
    margin: 30px 50px 0 0;
    font-size: 16px;
}

.See:hover{
    background: rgb(65, 155, 185);
    cursor: pointer;
}

.discounts h1{
    padding: 120px 50px 30px 0;
    font-weight: 500;
}

.discounts p{
    padding-left:30%;
    padding-right: 50px;
}

/* ----------------------about places------------------ */

#title{
    margin: 230px 10px 15px 80px;
}

#title h1{
    text-align: center;
    font-weight: 550;
    margin-bottom: 20px;
    color: rgb(105, 195, 225);
}

#title h4{
    text-align: center;
    font-style: italic;
    margin-bottom: 90px;
    font-weight: 500;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(330px,1fr));
    grid-area: 1fr 1fr 1fr;
}

.grid img{
    width: 100%;
    transition: background 0.5s,transform 0.5s;
}

.grid1 img{
    height: 80vh;
}

.grid2 img{
    width: 100%;
    height: 60%;
    padding-left: 10px;
    padding-top: 80px;
}

.grid3 img{
    width: 100%;
    height: 58%;
    padding-left: 30px;
}



.grid h2{
    text-align: center;
    padding-bottom: 15px;
    padding-top: 30px;
    color: rgb(105, 195, 225);
}

.grid p{
    text-align: center;
}

.grid img:hover{
    transform: translateY(-20px);
}

.footer h3{
    text-align: center;
    font-weight: 500;
    font-style: italic;
    background-color: rgb(181, 228, 244);
    font-size: 15px;
}